[BEGINVDF]
Comment=Prevent traders from auto-equipping the best weapons which made them inaccessible during trading (Gothic, Gothic Sequel, Gothic 2 and Gothic 2 NotR)
BaseDir=.\
VDFName=.\KeepTraderWeapons.vdf

[FILES]
; Resources (list the specific files from _work here)
; _work\* -r

; Script files
Ninja\KeepTraderWeapons\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
